@media screen and (orientation: landscape) {
  .playerContainer {
    height: 100%;
    .player {
      height: 100%;
      video {
        max-height: 100%;
      }

      .questContainer {
        .quest {
          height: 100px;
        }
      }
    }
  }
}
